<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User details</title>
</head>
<body>
<h2>User details</h2>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name:</label>
  <input type="text" th:field="*{name}" id="name"/>
  <br>
  <br>
  <label for="surname">Surname:</label>
  <input type="text" th:field="*{surname}" id="surname"/>
  <br>
  <br>
  <label for="age">Age:</label>
  <input type="text" th:field="*{age}" id="age"/>
  <br>
  <br>
  <label for="city">City:</label>
  <input type="text" th:field="*{city}" id="city"/>
  <br>
  <br>
  <label for="email">Email:</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br>
  <br>
  <input type="submit" value="Update"/>
</form>
</body>
</html>